<!-- <p>Ciudades!</p> -->
<h2>Ciudades</h2>
<!-- <article>
    <h3>New York</h3>
    <img src="../../../../../../assets/img/licensed-image.jfif" alt="">
</article> -->
<section>
    <div class="container">
        <div class="image">
            <img src="../../../../../../assets/img/licensed-image.jfif" alt="">
            <p>New York</p>
        </div>
        <div class="image">
            <img src="../../../../../../assets/img/tokio.webp" alt="">
            <p>Tokyo</p>
        </div>
        <div class="image">
            <img src="../../../../../../assets/img/london.jpg" alt="">
            <p>Londres</p>
        </div>
        <div class="image">
            <img src="../../../../../../assets/img/venecia.jpg" alt="">
            <p>Venecia</p>
        </div>
    </div>
</section>