<!-- <p>Ciudades!</p> -->
<h2>Destinos Turisticos</h2>
<!-- <article>
    <h3>New York</h3>
    <img src="../../../../../../assets/img/licensed-image.jfif" alt="">
</article> -->
<section>
    <div class="container">
        <div class="image">
            <img src="../../../../../../assets/img/licensed-image.jfif" alt="">
            <p>New York</p>
        </div>
        <div class="image">
            <img src="../../../../../../assets/img/tokio.webp" alt="">
            <p>Tokyo</p>
        </div>
        <div class="image">
            <img src="../../../../../../assets/img/london.jpg" alt="">
            <p>Londres</p>
        </div>
        <div class="image">
            <img src="../../../../../../assets/img/venecia.jpg" alt="">
            <p>Venecia</p>
        </div>
        <div class="image">
          <img src="../../../../../../assets/img/medellin.jpg" alt="">
          <p>Medellin</p>
      </div>
      <div class="image">
        <img src="../../../../../../assets/img/miami.jpg" alt="">
        <p>Maimi</p>
    </div>
      <div class="image">
        <img src="../../../../../../assets/img/acapulco.jpg" alt="">
        <p>Acapulco</p>
    </div>
      <div class="image">
        <img src="../../../../../../assets/img/rio de janeiro.jpg" alt="">
        <p>Rio de janeiro</p>
    </div>
    </div>
</section>
