
.container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.image img{
    height: 20vh;
    background-position: center;
    background-size: cover;
    width: 30vh;
    border-radius: 4%;
}

.image p{
    align-items: center;
    text-align: center;
    color: #FF7F50;
}

h2{
    margin-bottom: 30px;
}
