<!-- <p>viajeros works!</p> -->
<!-- <form action="procesar.php" method="post">
  <label for="dni">DNI:</label>
  <input type="text" id="dni" name="dni" placeholder="Ingresa tu número de DNI" required>

  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo" required>

  <label for="direccion">Dirección:</label>
  <input type="text" id="direccion" name="direccion" placeholder="Ingresa tu dirección completa" required>

  <label for="telefono">Teléfono:</label>
  <input type="tel" id="telefono" name="telefono" placeholder="Ingresa tu número de teléfono" required>

  <input type="submit" value="Agregar">
</form> -->

<div class="container">
  <h1>Registro viajero</h1>
  <form action="procesar.php" method="post">
    <label for="dni">DNI</label>
    <input type="text" id="dni" name="dni" placeholder="Ingresa tu número de DNI" required>

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo" required>

    <label for="direccion">Dirección</label>
    <input type="text" id="direccion" name="direccion" placeholder="Ingresa tu dirección completa" required>

    <label for="telefono">Teléfono</label>
    <input type="tel" id="telefono" name="telefono" placeholder="Ingresa tu número de teléfono" required>

    <input type="submit" value="Enviar">
  </form>
</div>


