<div class="container">
    <h1>CRUD de Referencia Familiares</h1>
    <form>
        <label for="dni_familiar">DNI del familiar:</label>
        <input type="text" id="dni_familiar" name="dni_familiar" required>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" required>
        <label for="codigo_viaje">Código de viaje:</label>
        <input type="text" id="codigo_viaje" name="codigo_viaje" required>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
        <label for="text">--</label>
        <button type="submit">Agregar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>DNI del familiar</th>
                <th>DNI</th>
                <th>Código de viaje</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se agregarán las filas con la información de las referencias familiares -->
        </tbody>
    </table>
</div>